@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'KCC-Ganpan';
    margin : 0;
    background-color: #ecceab;
}
.container{
    margin : auto;
    width : 100%;
}
.text-center{
    text-align : center;
}
.text-left{
    text-align : left;
}
.text-right{
    text-align : right;
}
.mt-20{
    margin-top : 20px;
}
.mt-30{
    margin-top : 30px;
}
.mt-100{
    margin-top : 100px !important;
}
.fs40{
    font-size : 40px;
}
.fs28{
    font-size : 28px;
}
.circle{
    border-radius : 100%;
}