#container{
    width : 930px;
    margin : auto;
}

#headerBox{
    width : 100%;
    padding : 10px;
    margin : auto;
    box-sizing: border-box;
    background-color: #aed664;
}

#testBoxAll{
    display : flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width : 100%;
    margin : auto;
    background-color : #ebebeb;
    padding : 10px;
    border-radius : 5px;
    box-sizing: border-box;
}
.testBox{
    width : 450px;
    height : 450px;
    background-color: white;
    border-radius : 5px;
    box-sizing: border-box;
}
.testBox:hover{
    cursor : pointer;
    transform: scale(1.02);
}
.testBox:nth-child(n+3){
    margin-top : 10px;
}
.test_Img{
    width : 100%;
    height : 300px;
    border-bottom : solid 5px #ebebeb;
}
#bottom{
    height : 80px;
    width : 100%;
    margin : auto;
}